body {
    background-color: white;
    margin: 0 auto;
}
/* NAVIGATION BEGINS */
#logout {
    display: none;
}
/* NAVIGATION ENDS */


/* CONTENT BEGINS */
#results {
    padding: 25px;
}
#header {
    text-align: center;
    margin: 40px;
}
.jumbotron p {
    padding: 20px;
}
.centered-text {
    text-align: center;
}
/* CONTENT ENDS */


/* FOOTER BEGINS */
footer {
    height: 20%;
    color: white;
    background-color: #1B1B1B;
    margin: 0 auto;
    padding: 15px;
}
footer span.right {
    float: right;
}
/* FOOTER ENDS */