body {
    background: rgb(245,246,246);
background: -moz-linear-gradient(-45deg, rgba(245,246,246,1) 0%, rgba(219,220,226,1) 21%, rgba(184,186,198,1) 49%, rgba(221,223,227,1) 80%, rgba(245,246,246,1) 100%);
background: -webkit-linear-gradient(-45deg, rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%);
background: linear-gradient(135deg, rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=1 );
margin: 0 auto;
}
/* HEADER BEGINS */
header {
    background-color: #1B1B1B;
    height: 30%;
    padding: 15px;
    margin: 0 auto;
}
header ul li {
    display: inline;
    color: white;
    padding: 15px;
    margin: 165px;
}
header ul li a {
    text-decoration: none;
    color: white;
}
/* HEADER ENDS */


/* CONTENT BEGINS */
#main {
    padding: 25px;
}
.search-holder {
    margin: 0 auto;
    }
.search-holder img {
    width: 40px;
    height: 40px;
}
.search-holder span {
    margin: 20px;
    padding: 20px;
    display: inline-block;
}
.search {
    width: 40%;
    text-align: left;
    height: 35px;
    margin: 20px;
    font-family: Monospace, serif;
    font-size: 24px;
    border: 3px solid gray;
    background-color: transparent;
}
#results {
    padding: 25px;
}
/* CONTENT ENDS */


/* FOOTER BEGINS */
footer {
    height: 20%;
    color: white;
    background-color: #1B1B1B;
    margin: 0 auto;
    padding: 15px;
}
footer span.right {
    float: right;
}
/* FOOTER ENDS */