@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Anton');
body {
    background-color: white;
    margin: 0 auto;
}
/* NAVIGATION BEGINS */
.hidden {
    display: none;
}
/* NAVIGATION ENDS */


/* CONTENT BEGINS */
#header {
    text-align: center;
    margin: 40px;
}
.jumbotron p {
    padding: 20px;
}
.centered-text {
    text-align: center;
}
#headline {
    text-align: center;
    padding: 25px;
    margin: 25px;
}
div.col-md-4 p {
    text-align: center;
    /*margin: 10px;*/
    /*min-height: 200px;*/
}
/* CONTENT ENDS */

.search-result {
    max-width: 500px;
    background: #F0F0F0;
    /*border: 1px lightgrey dotted;*/
    box-shadow: 1px 1px 5px grey;
    padding: 20px;
    margin: auto;
    margin-top: 20px;

}

.search-result:hover {
    background: #E6E6E6;
    text-decoration: none;
    /*border: 1px lightgrey dotted;*/
    /*box-shadow: 1px 1px 5px grey;*/
    padding: 20px;
    margin-top: 20px;
}

.playlist-item {
    width: 500px;
    background: #F0F0F0;
    /*border: 1px lightgrey dotted;*/
    box-shadow: 1px 1px 5px grey;
    padding: 20px;
    margin: 20px;
}

.playlist-item:hover {
    background: #E6E6E6;
    /*border: 1px lightgrey dotted;*/
    /*box-shadow: 1px 1px 5px grey;*/
    padding: 20px;
    margin: 20px;
}

.btn-remove {
    margin-top: 20px;
    color: white!important;
    background: #337ab7;
}

.btn-add {
    margin-top: 20px;
    color: white!important;
    background: #337ab7;
}

.result-image {
    margin: auto;
}

.result-title {
    font:1.5em 'Anton';
}

.result-description {
    font-size: 80%;
    color: grey;
}

.playlist-item a:link {
    text-decoration: none!important;
}

.playlist-item a:visited {
    text-decoration: none!important;
    color: #337ab7;
}

.playlist-item .btn a:link {
    text-decoration: none!important;
    color: white;
}

.playlist-item .btn a:visited {
    text-decoration: none!important;
    color: white;
}

.playlist-item .btn:hover {
    text-decoration: none!important;
    background: #23527c;
    color: white;
}

.search-result a:link {
    text-decoration: none!important;
}

.search-result a:visited {
    text-decoration: none!important;
    color: #337ab7;
}
.search-result .btn a:link {
    text-decoration: none!important;
    color: white;
}

.search-result .btn a:visited {
    text-decoration: none!important;
    color: white;
}

.search-result .btn:hover {
    text-decoration: none!important;
    background: #23527c;
    color: white;
}

#credits {
    background: #FAFAFA;
    margin-top: 100px;
}

.img-circle {
    width: 100px;
    height: 100px;
}

.playlist-item img {
    width: 200px;
    height: 200px;
    position: relative;
    margin: auto;
}

.player {
    width: 700px;
    padding: 50px;
    background: #FAFAFA;
    box-shadow:
        1px 1px 0 rgb(230, 230, 230),
        2px 2px 0 rgb(230, 230, 230),
        3px 3px 0 rgb(230, 230, 230),
        4px 4px 0 rgb(230, 230, 230),
        5px 5px 0 rgb(230, 230, 230),
        6px 6px 0 rgb(230, 230, 230),
        7px 7px 0 rgb(230, 230, 230)
        ;
    margin: auto;
}


/* FOOTER BEGINS */
footer {
    height: 20%;
    color: white;
    background-color: #1B1B1B;
    margin: 0 auto;
    padding: 15px;
}
footer span.right {
    float: right;
}
/* FOOTER ENDS */

/*SEARCH FIELD*/

* {
    margin:0;
    padding:0;
    font:12pt 'Ubuntu';
}

.field {
  display:flex;
  position:realtive;
  margin:5em auto;
  width:70%;
  flex-direction:row;
  box-shadow:
   /*1px 1px 0 rgb(22, 160, 133),*/
   1px 1px 0 #23527c,
   2px 2px 0 #23527c,
   3px 3px 0 #23527c,
   4px 4px 0 #23527c,
   5px 5px 0 #23527c,
   6px 6px 0 #23527c,
   7px 7px 0 #23527c
  ;
}

.field>input[type=text],
.field>button {
  display:block;
  font:1.2em 'Ubuntu';
}

.field>input[type=text] {
  flex:1;
  padding:0.6em;
  border:0.2em solid #337ab7;
}

.field>button {
  padding:0.6em 0.8em;
  background-color:#337ab7;
  color:white;
  border:none;
}

/*REGISTRATION*/
#registration {
    max-width: 1000px;
    margin: auto;
}
legend {
   color: #678;
}
.form-control {
    width: 95%;
}
label small {
    color: #678 !important;
}
span.req {
    color:maroon;
    font-size: 112%;
}

.valid {
    font-size: 80%;
    color: green;
}
.warning {
    font-size: 80%;
    color: red;
}

.container {
    padding: 16px;
}

/* The Modal (background) */

.background {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 10000000;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.2);
    /* Black w/ opacity */
    padding-top: 50px;
}

/* Modal Content/Box */

.form-content {
    padding: 20px;
    background-color: black;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid lightgrey;
    width: 50%;
    /* Could be more or less, depending on screen size */
}

@media screen and (max-width: 300px) {
    #btn-cancel,
    #btn-signup {
        width: 100%;
    }
}